@use "../../scss/index.scss" as *;
body {
    background-image: url("../../public/assets/home/background-home-mobile.jpg");
    background-size: cover;
    background-repeat: inherit;
    width: 100vw;
    height: 100vh;
}