@use "../../scss/index.scss" as *;
body.bg-crew {
    background-image: url("/assets/crew/background-crew-mobile.jpg");
    background-size: cover;
    background-repeat: inherit;
    width: 100vw;
    height: 100vh;
}