@use "../../scss/index.scss" as *;
body.bg-crew {
    background-image: url("/assets/crew/background-crew-mobile.jpg");
    background-size: cover;
    background-repeat: inherit;
    width: 100vw;
    height: 100vh;
}

.crew {
    overflow: hidden;
    text-align: center;
    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
    .swiper-pagination {
        top: 42%;
    }
    .swiper-pagination-bullet {
        font-size: 1.4rem;
        font-weight: 100;
        padding: 0.8rem;
        width: 0.2rem;
        height: 0.2rem;
        display: inline-block;
        border-radius: 50% !important;
        background-color: $text-color;
        margin: 0 1rem !important;
        cursor: pointer;
    }
    .pharse {
        color: $text-color;
        margin: 3rem 0;
        text-transform: uppercase;
        span {
            color: $pale-gray-color;
            text-transform: uppercase;
            font-weight: 700;
            margin-right: 1.53rem;
            opacity: 0.25;
        }
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: 0.27rem;
    }
    img {
        height: 23rem;
        width: 100%;
        transform: scale(0);
        transition: all 1s ease;
    }
    .swiper-pagination-bullet-active {
        border-bottom: 0.2rem solid #ffff;
    }
    .swiper-slide-active {
        &>.image>img {
            transform: scale(1) !important;
            transition-delay: 1.9s !important;
        }
        .role {
            opacity: 0.5 !important;
            transform: translateY(0) !important;
        }
        .title,
        .text {
            opacity: 1 !important;
            transform: translateY(0) !important;
        }
        .role {
            transition-delay: 0.8s !important;
        }
        .title {
            transition-delay: 1.2s !important;
        }
        .text {
            height: 10.1rem;
            transition-delay: 1.8s !important;
        }
    }
    &__content {
        margin-top: 8.4rem;
        .title,
        .text {
            color: $text-color;
            text-align: center;
            opacity: 0 !important;
            transform: translateY(-100%) !important;
            transition: transform 0.5s ease, opacity 0.5s ease;
        }
        .role {
            font-weight: 100;
            margin-top: 20%;
            text-transform: uppercase;
            font-size: 2rem !important;
            color: $pale-gray-color;
            opacity: 0 !important;
            transform: translateY(-100%) !important;
            transition: transform 0.5s ease, opacity 0.5s ease;
            // opacity: 0.5;
        }
        .title {
            font-weight: 100;
            text-transform: uppercase;
            font-size: 3rem !important;
            padding: 2rem 0;
        }
        .text {
            text-align: center;
            padding-top: 2rem;
        }
        .description {
            display: inline-block;
            font-weight: 100;
            font-size: 2rem;
            line-height: 3rem;
            text-align: center;
            text-transform: none;
            max-width: 32.5rem;
            height: 20.1rem;
            // overflow: hidden;
            // // white-space: nowrap;
            // text-overflow: ellipsis;
        }
    }
    .image {
        position: relative;
        width: 17rem;
        margin: 0 auto;
    }
    .lineBottom {
        position: absolute;
        width: 80%;
        top: 23rem;
        left: 4rem;
        height: 0.02rem;
        background-color: $pale-gray-color;
        margin: 0 auto;
        opacity: 0.2;
    }
}

@include tablet {
    body.bg-crew {
        background-image: url("/assets/crew/background-crew-tablet.jpg") !important;
        background-size: cover;
        background-repeat: inherit;
        width: 100vw;
        height: 100vh;
    }
    .crew {
        &__content {
            margin-top: 5rem;
            .role {
                text-align: center;
                margin-top: 3rem;
            }
        }
        overflow: hidden;
        text-align: start;
        .swiper-button-next,
        .swiper-button-prev {
            display: none !important;
        }
        .swiper-pagination {
            top: 40%;
        }
        .swiper-pagination-bullet {
            font-size: 1.4rem;
            font-weight: 100;
            padding: 0.8rem;
            width: 0.1rem;
            height: 0.1rem;
            display: inline-block;
            border-radius: 50% !important;
            background-color: $text-color;
            margin: 0 1rem !important;
            cursor: pointer;
        }
        img {
            height: 40vh;
            width: 40vw;
            transform: scale(0);
            transition: all 1.22s ease;
        }
        .swiper-pagination-bullet-active {
            border-bottom: 0.2rem solid #ffff;
        }
        .swiper-slide {
            display: flex;
            flex-direction: column-reverse;
        }
        .swiper-slide-active {
            &>.image>img {
                transform: scale(1) !important;
                transition-delay: 1.9s !important;
            }
            .role {
                opacity: 0.5 !important;
                transform: translateY(0) !important;
            }
            .title,
            .text {
                opacity: 1 !important;
                transform: translateY(0) !important;
            }
            .title {
                transition-delay: 1.2s !important;
            }
            .text {
                height: 10.1rem;
                transition-delay: 1.8s !important;
            }
        }
        .title,
        .text {
            color: $text-color;
            text-align: center;
            opacity: 0 !important;
            transform: translateY(-100%) !important;
            transition: transform 0.5s ease, opacity 0.5s ease;
        }
        .title {
            font-weight: 100;
            margin-top: 0;
            text-transform: uppercase;
            font-size: 4rem !important;
        }
        .lineBottom {
            display: none !important;
        }
        .pharse {
            color: $text-color;
            margin: 4.4rem;
            padding: 0 0 0 4rem;
            span {
                color: $pale-gray-color;
                text-transform: uppercase;
                font-weight: 700;
                margin-right: 1.53rem;
                opacity: 0.25;
            }
            font-weight: 400;
            font-size: 2rem;
            line-height: 1.9rem;
            letter-spacing: 0.27rem;
        }
        .text {
            text-align: center;
        }
        .description {
            display: inline-block;
            font-weight: 100;
            font-size: 2rem;
            line-height: 3rem;
            text-align: center;
            text-transform: none;
            max-width: 47.5rem;
            height: 20.1rem;
            letter-spacing: 0.136rem;
        }
        .image {
            width: 30.4rem;
            margin-top: 20%;
        }
    }
}

@include desktopMd {
    body.bg-crew {
        background-image: url("/assets/crew/background-crew-desktop.jpg") !important;
        background-size: auto !important;
        background-repeat: inherit;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }
    .crew {
        &__content {
            margin-top: 10rem;
            flex-basis: 50%;
            padding-left: 8.4rem;
            .role {
                text-align: start;
                margin-top: 3rem;
            }
        }
        overflow: hidden;
        text-align: start;
        .swiper-button-next,
        .swiper-button-prev {
            display: none !important;
        }
        .swiper-pagination {
            top: 80%;
            width: unset !important;
            margin-left: 8.4rem;
        }
        .swiper-pagination-bullet {
            font-size: 1.4rem;
            font-weight: 100;
            padding: 0.8rem;
            width: 0.1rem;
            height: 0.1rem;
            display: inline-block;
            border-radius: 50% !important;
            background-color: $text-color;
            margin: 0 1rem !important;
            cursor: pointer;
        }
        img {
            height: unset;
            max-width: 100%;
            transform: scale(0);
            transition: all 1.22s ease;
        }
        .swiper-pagination-bullet-active {
            border-bottom: 0.2rem solid #ffff;
        }
        .swiper-slide {
            display: flex;
            flex-direction: row-reverse;
            height: 100vh;
            justify-content: center;
            text-align: center;
        }
        .swiper-slide-active {
            &>.image>img {
                transform: scale(1) !important;
                transition-delay: 1.9s !important;
            }
            .role {
                opacity: 0.5 !important;
                transform: translateY(0) !important;
            }
            .title,
            .text {
                opacity: 1 !important;
                transform: translateY(0) !important;
            }
            .title {
                transition-delay: 1.2s !important;
            }
            .text {
                height: 10.1rem;
                transition-delay: 1.8s !important;
            }
        }
        .title,
        .text {
            color: $text-color;
            text-align: start;
            opacity: 0 !important;
            transform: translateY(-100%) !important;
            transition: transform 0.5s ease, opacity 0.5s ease;
        }
        .title {
            font-weight: 100;
            margin-top: 0;
            text-transform: uppercase;
            font-size: 4rem !important;
        }
        .lineBottom {
            display: none !important;
        }
        .pharse {
            color: $text-color;
            margin: 4.4rem;
            padding: 0 0 0 4rem;
            span {
                color: $pale-gray-color;
                text-transform: uppercase;
                font-weight: 700;
                margin-right: 1.53rem;
                opacity: 0.25;
            }
            font-weight: 400;
            font-size: 2rem;
            line-height: 1.9rem;
            letter-spacing: 0.27rem;
        }
        .text {
            text-align: start;
        }
        .description {
            display: inline-block;
            font-weight: 100;
            font-size: 2rem;
            line-height: 3rem;
            text-align: start;
            text-transform: none;
            max-width: 40.5rem;
            height: 20.1rem;
            letter-spacing: 0.136rem;
        }
        .image {
            width: unset;
            display: flex;
            margin-top: 0%;
            margin: 0 auto;
            flex-basis: 40%;
            text-align: end;
        }
    }
}