@use "../../scss/index.scss" as *;
body.bg-destination {
    background-image: url("/assets/destination/background-destination-mobile.jpg");
    background-size: cover;
    background-repeat: inherit;
    width: 100vw;
    height: 100vh;
}

.destination {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
    .swiper-pagination {
        bottom: 50%;
    }
    .swiper-pagination-bullet {
        color: $text-color;
        font-size: 1.4rem;
        font-weight: 100;
        padding: 0.8rem;
        width: auto;
        height: auto;
        display: inline-block;
        border-radius: unset !important;
        background-color: transparent;
        opacity: unset;
    }
    img {
        width: 100%;
        transform: scale(0);
        transition: all 2.88s ease;
    }
    .swiper-pagination-bullet-active {
        border-bottom: 0.2rem solid #ffff;
    }
    .swiper-slide-active {
        &>.image>img {
            transform: scale(1);
        }
    }
    .pharse,
    .title,
    .text {
        color: $text-color;
        text-align: center;
    }
    .title {
        font-weight: 100;
        margin-top: 8.4rem;
        text-transform: uppercase;
        font-size: 8rem !important;
    }
    .pharse {
        margin: 2.4rem;
        span {
            color: $pale-gray-color;
            text-transform: uppercase;
            font-weight: 700;
            margin-right: 1.53rem;
            opacity: 0.25;
        }
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: 0.27rem;
    }
    .text {
        text-align: center;
    }
    .description {
        display: inline-block;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2.5rem;
        text-align: center;
        text-transform: none;
        max-width: 32.5rem;
    }
    .image {
        width: 17rem;
        margin: 0 auto;
    }
}

@include tablet {
    body.bg-destination {
        background-image: url("../../public/assets/destination/background-destination-tablet.jpg");
        background-size: cover;
        background-repeat: inherit;
        width: 100vw;
        height: 100vh;
    }
}

@include desktopMd {
    body.bg-destination {
        background-image: url("../../public/assets/destination/background-destination-desktop.jpg");
        background-size: cover;
        background-repeat: inherit;
        width: 100vw;
        height: 100vh;
    }
}