$dark-color: #0b0d17;
$pale-gray-color: #d0d6f9;
$text-color: #ffffff;
$font-primary: "Barlow Condensed",
sans-serif;
$font-title: "Bellefair",
serif;
$moblie: 375px;
$tablet: 768px;
$desktop-md: 1024px;
$desktop-lg: 1440px;